body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

#container {
  width: auto;
  height: 800px;
  background-image: url(calc.jpg);
  text-align: center;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#calculator {
  width: 350px;
  height: 550px;
  background-color: whitesmoke;
  margin: 10px auto;
  top: 20px;
  text-align: center;
  position: relative;
  border-radius: 20px;
  align-items: center;
}

#result {
  height: 120px;
}

#history {
  text-align: right;
  height: 30px;
  margin: 0 20px;
  padding-top: 30px;
  font-size: 20px;
  color: whitesmoke;
}

#output {
  text-align: right;
  height: 30px;
  margin: 10px 20px;
  font-size: 35px;
}

#keyboard {
  height: 400px;
}

#output-value {
  width: 100%;
  height: 40px;
  font-size: 30px;
}

.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: center;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}

.operator:active,
.number:active {
  font-size: 17px;
}

.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}

button:nth-child(4) {
  font-size: 20px;
  background-color: rgb(98, 98, 233);
}

button:nth-child(8) {
  font-size: 20px;
  background-color: rgb(102, 201, 214);
}
button:nth-child(12) {
  font-size: 20px;
  background-color: rgb(89, 209, 85);
}
button:nth-child(16) {
  font-size: 20px;
  background-color: rgb(11, 143, 204);
}
button:nth-child(20) {
  font-size: 20px;
  background-color: rgb(7, 148, 82);
}

button:nth-child(1) {
  font-size: 20px;
  background-color: rgb(185, 233, 233);
}
button:nth-child(2) {
  font-size: 20px;
  background-color: rgb(185, 233, 233);
}
button:nth-child(3) {
  font-size: 20px;
  background-color: rgb(185, 233, 233);
}

button:last-child {
  font-size: 20px;
  background-color: rgb(108, 108, 196);
}
